.container {
    width: 1598px;
    max-width: 90%;
    margin: 0 auto;
}

.body {
    background-color: #eeeeee;
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply hover:bg-gray-200 rounded-md overflow-hidden w-full md:w-64  bg-gray-100 mt-3 md:mr-3 flex flex-col justify-between flex-grow;
}

.editBtn:hover:after {
    content: "✏";
}

.links {
    @apply items-center font-semibold text-sm text-white sm:flex w-full bg-gray-700 sm:bg-transparent justify-center text-center;
}

.is-active {
    text-decoration: underline 2px;
    position: relative;
    padding: 5px 0;
    text-underline-offset: 5px;
}

a.Link {
    padding: 10px 0;
    cursor: pointer;
}

a.Link:hover {
    color: rgb(240, 240, 240);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
